USE [master]
GO
/****** Object:  Database [JobSeeker]    Script Date: 11/9/2024 7:23:37 PM ******/
CREATE DATABASE [JobSeeker]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JobSeeker', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\JobSeeker.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JobSeeker_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\JobSeeker_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JobSeeker].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JobSeeker]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 11/9/2024 7:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NULL,
	[phone] [nvarchar](20) NULL,
	[firstName] [nvarchar](50) NULL,
	[lastName] [nvarchar](50) NULL,
	[dob] [date] NULL,
	[address] [nvarchar](255) NULL,
	[avatar] [nvarchar](255) NULL,
	[roleId] [int] NULL,
	[isActive] [bit] NULL,
	[createAt] [date] NULL,
	[updatedAt] [date] NULL,
	[gender] [bit] NULL,
 CONSTRAINT [PK__Account__3213E83F7FC4AC05] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Applications]    Script Date: 11/9/2024 7:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applications](
	[ApplicationID] [int] IDENTITY(1,1) NOT NULL,
	[JobPostingID] [int] NULL,
	[JobSeekerID] [int] NULL,
	[CVID] [int] NULL,
	[Status] [int] NULL,
	[AppliedDate] [date] NULL,
 CONSTRAINT [PK__Applicat__C93A4F79B203A862] PRIMARY KEY CLUSTERED 
(
	[ApplicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 11/9/2024 7:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[location] [nvarchar](255) NULL,
	[verificationStatus] [bit] NULL,
	[accountId] [int] NULL,
	[BusinessLicenseImage] [nvarchar](max) NULL,
	[BusinessCode] [nvarchar](50) NULL,
 CONSTRAINT [PK__Companie__2D971C4CD6A6A885] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CVs]    Script Date: 11/9/2024 7:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVs](
	[CVID] [int] IDENTITY(1,1) NOT NULL,
	[JobSeekerID] [int] NULL,
	[FilePath] [nvarchar](255) NULL,
	[UploadDate] [datetime2](7) NULL,
	[LastUpdated] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[CVID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Education]    Script Date: 11/9/2024 7:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Education](
	[EducationID] [int] IDENTITY(1,1) NOT NULL,
	[JobSeekerID] [int] NULL,
	[Institution] [nvarchar](255) NULL,
	[Degree] [nvarchar](100) NULL,
	[FieldOfStudy] [nvarchar](100) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[DegreeImg] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[EducationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FavourJobPosting]    Script Date: 11/9/2024 7:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavourJobPosting](
	[FavourJPID] [int] IDENTITY(1,1) NOT NULL,
	[JobSeekerID] [int] NULL,
	[JobPostingID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 11/9/2024 7:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NULL,
	[ContentFeedback] [nvarchar](max) NULL,
	[CreatedAt] [date] NULL,
	[Status] [int] NULL,
	[JobPostingID] [int] NULL,
 CONSTRAINT [PK__Feedback__6A4BEDF60AAD4713] PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job_Posting_Category]    Script Date: 11/9/2024 7:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job_Posting_Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_Job_Posting_category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobPostings]    Script Date: 11/9/2024 7:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobPostings](
	[JobPostingID] [int] IDENTITY(1,1) NOT NULL,
	[RecruiterID] [int] NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Requirements] [nvarchar](max) NULL,
	[MinSalary] [decimal](10, 2) NULL,
	[MaxSalary] [decimal](10, 2) NULL,
	[Location] [nvarchar](255) NULL,
	[PostedDate] [date] NULL,
	[ClosingDate] [date] NULL,
	[Job_Posting_CategoryID] [int] NULL,
	[Status] [nvarchar](20) NULL,
 CONSTRAINT [PK__JobPosti__350AABE90A500774] PRIMARY KEY CLUSTERED 
(
	[JobPostingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobSeekers]    Script Date: 11/9/2024 7:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobSeekers](
	[JobSeekerID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[JobSeekerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recruiters]    Script Date: 11/9/2024 7:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recruiters](
	[RecruiterID] [int] IDENTITY(1,1) NOT NULL,
	[isVerify] [bit] NULL,
	[AccountID] [int] NULL,
	[CompanyID] [int] NULL,
	[Position] [nvarchar](100) NULL,
	[FrontCitizenImage] [nvarchar](255) NULL,
	[BackCitizenImage] [nvarchar](255) NULL,
 CONSTRAINT [PK__Recruite__219CFF76A3451C8C] PRIMARY KEY CLUSTERED 
(
	[RecruiterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 11/9/2024 7:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Work_Experience]    Script Date: 11/9/2024 7:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Work_Experience](
	[ExperienceID] [int] IDENTITY(1,1) NOT NULL,
	[JobSeekerID] [int] NULL,
	[CompanyName] [nvarchar](255) NULL,
	[JobTitle] [nvarchar](100) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ExperienceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([id], [username], [password], [email], [phone], [firstName], [lastName], [dob], [address], [avatar], [roleId], [isActive], [createAt], [updatedAt], [gender]) VALUES (4, N'admin', N'admin', N'vanctquantrivien@gmail.com', NULL, N'CT', N'Van', NULL, NULL, N'/JobSeeker/images/242185eaef43192fc3f9646932fe3b46.jpg', 1, 1, CAST(N'2024-10-16' AS Date), NULL, 1)
INSERT [dbo].[Account] ([id], [username], [password], [email], [phone], [firstName], [lastName], [dob], [address], [avatar], [roleId], [isActive], [createAt], [updatedAt], [gender]) VALUES (5, N'john_doe', N'Pa$$word123', N'john.doe@example.com', N'0912345678', N'John', N'Doe', CAST(N'1990-05-15' AS Date), N'123 Main St, City A', N'/JobSeeker/images/242185eaef43192fc3f9646932fe3b46.jpg', 2, 1, CAST(N'2023-01-01' AS Date), CAST(N'2024-11-08' AS Date), 0)
INSERT [dbo].[Account] ([id], [username], [password], [email], [phone], [firstName], [lastName], [dob], [address], [avatar], [roleId], [isActive], [createAt], [updatedAt], [gender]) VALUES (6, N'jane_smith', N'Secure#45', N'jane.smith@example.com', N'0912345679', N'Jane', N'Smith', CAST(N'1992-08-21' AS Date), N'456 Elm St, City B', N'/JobSeeker/images/242185eaef43192fc3f9646932fe3b46.jpg', 2, 1, CAST(N'2023-01-02' AS Date), CAST(N'2023-10-02' AS Date), 0)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Applications] ON 

INSERT [dbo].[Applications] ([ApplicationID], [JobPostingID], [JobSeekerID], [CVID], [Status], [AppliedDate]) VALUES (1, 1096, 1, 1, 3, CAST(N'2024-11-08' AS Date))
INSERT [dbo].[Applications] ([ApplicationID], [JobPostingID], [JobSeekerID], [CVID], [Status], [AppliedDate]) VALUES (3, 1096, 2, 2, 2, CAST(N'2024-11-09' AS Date))
INSERT [dbo].[Applications] ([ApplicationID], [JobPostingID], [JobSeekerID], [CVID], [Status], [AppliedDate]) VALUES (4, 1096, 3, 3, 1, CAST(N'2024-11-09' AS Date))
SET IDENTITY_INSERT [dbo].[Applications] OFF
GO
SET IDENTITY_INSERT [dbo].[Company] ON 

INSERT [dbo].[Company] ([id], [name], [description], [location], [verificationStatus], [accountId], [BusinessLicenseImage], [BusinessCode]) VALUES (1034, N'Tech Innovations Inc.', N'<p>A leading company in technology solutions and software development.</p>', N'New York, NY', 1, 5, N'/JobSeeker//images/Giayphepdkikinhdoanh.jpg', N'09909')
INSERT [dbo].[Company] ([id], [name], [description], [location], [verificationStatus], [accountId], [BusinessLicenseImage], [BusinessCode]) VALUES (1035, N'Green Earth LLC', N'Environmentally friendly products and sustainable solutions.', N'San Francisco, CA', 0, 6, N'/JobSeeker//images/Giayphepdkikinhdoanh.jpg', N'09910')
INSERT [dbo].[Company] ([id], [name], [description], [location], [verificationStatus], [accountId], [BusinessLicenseImage], [BusinessCode]) VALUES (1036, N'HealthFirst Medical', N'Healthcare services and medical products.', N'Chicago, IL', 1, 7, N'/JobSeeker//images/Giayphepdkikinhdoanh.jpg', N'01190')
SET IDENTITY_INSERT [dbo].[Company] OFF
GO
SET IDENTITY_INSERT [dbo].[CVs] ON 

INSERT [dbo].[CVs] ([CVID], [JobSeekerID], [FilePath], [UploadDate], [LastUpdated]) VALUES (1, 1, N'/JobSeeker/cvFiles/Simple Professional CV Resume.pdf', CAST(N'2024-11-08T00:00:00.0000000' AS DateTime2), CAST(N'2024-11-08T09:13:56.3933333' AS DateTime2))
INSERT [dbo].[CVs] ([CVID], [JobSeekerID], [FilePath], [UploadDate], [LastUpdated]) VALUES (2, 2, N'/JobSeeker/cvFiles/Simple Professional CV Resume.pdf', CAST(N'2024-11-08T09:18:50.5033333' AS DateTime2), CAST(N'2024-11-08T09:18:50.5033333' AS DateTime2))
INSERT [dbo].[CVs] ([CVID], [JobSeekerID], [FilePath], [UploadDate], [LastUpdated]) VALUES (3, 3, N'/JobSeeker/cvFiles/Simple Professional CV Resume.pdf', CAST(N'2024-11-08T09:19:16.2233333' AS DateTime2), CAST(N'2024-11-08T09:19:16.2233333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[CVs] OFF
GO
SET IDENTITY_INSERT [dbo].[Education] ON 

INSERT [dbo].[Education] ([EducationID], [JobSeekerID], [Institution], [Degree], [FieldOfStudy], [StartDate], [EndDate], [DegreeImg]) VALUES (2, 1, N'Hanoi University of Science and Technology', N'PhD', N'Information Technology', CAST(N'2018-09-01' AS Date), CAST(N'2021-06-01' AS Date), N'uploads/degreeImgs/BangTotNghiep.jpg')
INSERT [dbo].[Education] ([EducationID], [JobSeekerID], [Institution], [Degree], [FieldOfStudy], [StartDate], [EndDate], [DegreeImg]) VALUES (3, 1, N'University of Danang', N'Bachelor', N'Software Engineering', CAST(N'2015-09-01' AS Date), CAST(N'2019-06-01' AS Date), N'uploads/degreeImgs/BangTotNghiep.jpg')
INSERT [dbo].[Education] ([EducationID], [JobSeekerID], [Institution], [Degree], [FieldOfStudy], [StartDate], [EndDate], [DegreeImg]) VALUES (4, 2, N'University of Danang', N'PhD', N'Software Engineering', CAST(N'2015-09-01' AS Date), CAST(N'2019-06-01' AS Date), N'uploads/degreeImgs/BangTotNghiep.jpg')
SET IDENTITY_INSERT [dbo].[Education] OFF
GO
SET IDENTITY_INSERT [dbo].[FavourJobPosting] ON 

INSERT [dbo].[FavourJobPosting] ([FavourJPID], [JobSeekerID], [JobPostingID]) VALUES (1, 1, 1139)
INSERT [dbo].[FavourJobPosting] ([FavourJPID], [JobSeekerID], [JobPostingID]) VALUES (2, 1, 1096)
SET IDENTITY_INSERT [dbo].[FavourJobPosting] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([FeedbackID], [AccountID], [ContentFeedback], [CreatedAt], [Status], [JobPostingID]) VALUES (1, 19, N'While the duties are well-outlined, adding a few more details about the day-to-day tasks or specific projects the role will focus on could help applicants better understand what to expect.', CAST(N'2024-11-08' AS Date), 1, 1105)
INSERT [dbo].[Feedback] ([FeedbackID], [AccountID], [ContentFeedback], [CreatedAt], [Status], [JobPostingID]) VALUES (2, 19, N'pecifying whether certain skills are "required" or "preferred" could help attract candidates with the right qualifications. Additionally, detailing what levels of experience are sought in each skill area would guide applicants in assessing their fit.', CAST(N'2024-11-08' AS Date), 1, 1096)
INSERT [dbo].[Feedback] ([FeedbackID], [AccountID], [ContentFeedback], [CreatedAt], [Status], [JobPostingID]) VALUES (3, 19, N'pecifying whether certain skills are "required" or "preferred" could help attract candidates with the right qualifications. Additionally, detailing what levels of experience are sought in each skill area would guide applicants in assessing their fit.s', CAST(N'2024-11-08' AS Date), 1, 1098)
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Job_Posting_Category] ON 

INSERT [dbo].[Job_Posting_Category] ([id], [name], [status]) VALUES (12, N'Information Technology', 1)
INSERT [dbo].[Job_Posting_Category] ([id], [name], [status]) VALUES (13, N'Business & Finance', 1)
INSERT [dbo].[Job_Posting_Category] ([id], [name], [status]) VALUES (14, N'Healthcare', 1)
SET IDENTITY_INSERT [dbo].[Job_Posting_Category] OFF
GO
SET IDENTITY_INSERT [dbo].[JobPostings] ON 

INSERT [dbo].[JobPostings] ([JobPostingID], [RecruiterID], [Title], [Description], [Requirements], [MinSalary], [MaxSalary], [Location], [PostedDate], [ClosingDate], [Job_Posting_CategoryID], [Status]) VALUES (1096, 17, N'Software Engineer', N'Seeking a skilled Software Engineer to join our IT team.', N'Bachelor''s degree in Computer Science or related field. 3+ years of experience.', CAST(500.00 AS Decimal(10, 2)), CAST(1000.00 AS Decimal(10, 2)), N'San Francisco, CA', CAST(N'2023-01-15' AS Date), CAST(N'2023-05-15' AS Date), 12, N'Open')
INSERT [dbo].[JobPostings] ([JobPostingID], [RecruiterID], [Title], [Description], [Requirements], [MinSalary], [MaxSalary], [Location], [PostedDate], [ClosingDate], [Job_Posting_CategoryID], [Status]) VALUES (1097, 19, N'Data Analyst', N'Seeking a talented Data Analyst to join our Business Intelligence team.', N'Bachelor''s degree in Analytics, Statistics, or related field. 2+ years of experience.', CAST(200.00 AS Decimal(10, 2)), CAST(800.00 AS Decimal(10, 2)), N'New York City, NY', CAST(N'2023-01-01' AS Date), CAST(N'2023-06-01' AS Date), 12, N'Closed')
INSERT [dbo].[JobPostings] ([JobPostingID], [RecruiterID], [Title], [Description], [Requirements], [MinSalary], [MaxSalary], [Location], [PostedDate], [ClosingDate], [Job_Posting_CategoryID], [Status]) VALUES (1098, 20, N'Marketing Manager', N'Seeking a creative Marketing Manager to lead our digital marketing efforts.', N'Bachelor''s degree in Marketing or related field. 5+ years of experience.', CAST(1000.00 AS Decimal(10, 2)), CAST(1500.00 AS Decimal(10, 2)), N'Chicago, IL', CAST(N'2023-02-01' AS Date), CAST(N'2023-07-01' AS Date), 17, N'Open')
SET IDENTITY_INSERT [dbo].[JobPostings] OFF
GO
SET IDENTITY_INSERT [dbo].[JobSeekers] ON 

INSERT [dbo].[JobSeekers] ([JobSeekerID], [AccountID]) VALUES (2, 17)
INSERT [dbo].[JobSeekers] ([JobSeekerID], [AccountID]) VALUES (3, 18)
INSERT [dbo].[JobSeekers] ([JobSeekerID], [AccountID]) VALUES (1, 19)
SET IDENTITY_INSERT [dbo].[JobSeekers] OFF
GO
SET IDENTITY_INSERT [dbo].[Recruiters] ON 

INSERT [dbo].[Recruiters] ([RecruiterID], [isVerify], [AccountID], [CompanyID], [Position], [FrontCitizenImage], [BackCitizenImage]) VALUES (17, 1, 5, 1034, N'Human Resources Manager', N'uploads/citizen_ids/4.1.2.jpg', N'uploads/citizen_ids/7.109.png')
INSERT [dbo].[Recruiters] ([RecruiterID], [isVerify], [AccountID], [CompanyID], [Position], [FrontCitizenImage], [BackCitizenImage]) VALUES (18, 1, 6, 1035, N'Recruitment Specialist', N'uploads/citizen_ids/4.1.2.jpg', N'uploads/citizen_ids/7.109.png')
INSERT [dbo].[Recruiters] ([RecruiterID], [isVerify], [AccountID], [CompanyID], [Position], [FrontCitizenImage], [BackCitizenImage]) VALUES (19, 1, 7, 1036, N'Talent Acquisition Lead', N'uploads/citizen_ids/4.1.2.jpg', N'uploads/citizen_ids/7.109.png')
SET IDENTITY_INSERT [dbo].[Recruiters] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([id], [name]) VALUES (1, N'admin')
INSERT [dbo].[Role] ([id], [name]) VALUES (2, N'recruiter')
INSERT [dbo].[Role] ([id], [name]) VALUES (3, N'seeker')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Work_Experience] ON 

INSERT [dbo].[Work_Experience] ([ExperienceID], [JobSeekerID], [CompanyName], [JobTitle], [StartDate], [EndDate], [Description]) VALUES (1, 1, N'FPT Software', N'Dev Java', CAST(N'2020-11-08' AS Date), CAST(N'2024-11-08' AS Date), N'Developed and maintained web applications using Java, Spring Boot, and related technologies.')
INSERT [dbo].[Work_Experience] ([ExperienceID], [JobSeekerID], [CompanyName], [JobTitle], [StartDate], [EndDate], [Description]) VALUES (7, 1, N'Tech Innovators', N'Fullstack Developer', CAST(N'2018-06-10' AS Date), CAST(N'2021-12-20' AS Date), N'Developed both frontend and backend components for e-commerce applications.')
INSERT [dbo].[Work_Experience] ([ExperienceID], [JobSeekerID], [CompanyName], [JobTitle], [StartDate], [EndDate], [Description]) VALUES (8, 1, N'Global Tech', N'Junior Java Developer', CAST(N'2022-01-01' AS Date), CAST(N'2023-08-15' AS Date), N'Assisted in maintaining Java-based applications and improving code efficiency.')
SET IDENTITY_INSERT [dbo].[Work_Experience] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__F3DBC572418299EE]    Script Date: 11/9/2024 7:23:37 PM ******/
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [UQ__Account__F3DBC572418299EE] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_account_email]    Script Date: 11/9/2024 7:23:37 PM ******/
CREATE NONCLUSTERED INDEX [idx_account_email] ON [dbo].[Account]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_applications_jobposting]    Script Date: 11/9/2024 7:23:37 PM ******/
CREATE NONCLUSTERED INDEX [idx_applications_jobposting] ON [dbo].[Applications]
(
	[JobPostingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_applications_jobseeker]    Script Date: 11/9/2024 7:23:37 PM ******/
CREATE NONCLUSTERED INDEX [idx_applications_jobseeker] ON [dbo].[Applications]
(
	[JobSeekerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_companies_name]    Script Date: 11/9/2024 7:23:37 PM ******/
CREATE NONCLUSTERED INDEX [idx_companies_name] ON [dbo].[Company]
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_cvs_jobseeker]    Script Date: 11/9/2024 7:23:37 PM ******/
CREATE NONCLUSTERED INDEX [idx_cvs_jobseeker] ON [dbo].[CVs]
(
	[JobSeekerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_education_jobseeker]    Script Date: 11/9/2024 7:23:37 PM ******/
CREATE NONCLUSTERED INDEX [idx_education_jobseeker] ON [dbo].[Education]
(
	[JobSeekerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__JobSeeke__349DA587C3C20D4A]    Script Date: 11/9/2024 7:23:37 PM ******/
ALTER TABLE [dbo].[JobSeekers] ADD UNIQUE NONCLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Recruite__349DA587681A6B54]    Script Date: 11/9/2024 7:23:37 PM ******/
ALTER TABLE [dbo].[Recruiters] ADD  CONSTRAINT [UQ__Recruite__349DA587681A6B54] UNIQUE NONCLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_work_experience_jobseeker]    Script Date: 11/9/2024 7:23:37 PM ******/
CREATE NONCLUSTERED INDEX [idx_work_experience_jobseeker] ON [dbo].[Work_Experience]
(
	[JobSeekerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF__Account__isActiv__286302EC]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF__Account__createA__29572725]  DEFAULT (getdate()) FOR [createAt]
GO
ALTER TABLE [dbo].[Applications] ADD  CONSTRAINT [DF__Applicati__Statu__4316F928]  DEFAULT ('Submitted') FOR [Status]
GO
ALTER TABLE [dbo].[Applications] ADD  CONSTRAINT [DF__Applicati__Appli__440B1D61]  DEFAULT (getdate()) FOR [AppliedDate]
GO
ALTER TABLE [dbo].[Company] ADD  CONSTRAINT [DF_Company_verificationStatus]  DEFAULT ((1)) FOR [verificationStatus]
GO
ALTER TABLE [dbo].[CVs] ADD  DEFAULT (getdate()) FOR [UploadDate]
GO
ALTER TABLE [dbo].[CVs] ADD  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[Feedback] ADD  CONSTRAINT [DF__Feedback__Create__47DBAE45]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Feedback] ADD  CONSTRAINT [DF__Feedback__Status__48CFD27E]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Job_Posting_Category] ADD  CONSTRAINT [DF_Job_Posting_Category_status]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role] FOREIGN KEY([roleId])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Role]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_Applications_CVs] FOREIGN KEY([CVID])
REFERENCES [dbo].[CVs] ([CVID])
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK_Applications_CVs]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_Applications_JobPostings] FOREIGN KEY([JobPostingID])
REFERENCES [dbo].[JobPostings] ([JobPostingID])
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK_Applications_JobPostings]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_Applications_JobSeekers] FOREIGN KEY([JobSeekerID])
REFERENCES [dbo].[JobSeekers] ([JobSeekerID])
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK_Applications_JobSeekers]
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_Company_Account] FOREIGN KEY([accountId])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_Company_Account]
GO
ALTER TABLE [dbo].[CVs]  WITH CHECK ADD  CONSTRAINT [FK_CVs_JobSeekers] FOREIGN KEY([JobSeekerID])
REFERENCES [dbo].[JobSeekers] ([JobSeekerID])
GO
ALTER TABLE [dbo].[CVs] CHECK CONSTRAINT [FK_CVs_JobSeekers]
GO
ALTER TABLE [dbo].[Education]  WITH CHECK ADD  CONSTRAINT [FK_Education_JobSeekers] FOREIGN KEY([JobSeekerID])
REFERENCES [dbo].[JobSeekers] ([JobSeekerID])
GO
ALTER TABLE [dbo].[Education] CHECK CONSTRAINT [FK_Education_JobSeekers]
GO
ALTER TABLE [dbo].[FavourJobPosting]  WITH CHECK ADD  CONSTRAINT [FK_FavourJobPosting_JobPostings] FOREIGN KEY([JobPostingID])
REFERENCES [dbo].[JobPostings] ([JobPostingID])
GO
ALTER TABLE [dbo].[FavourJobPosting] CHECK CONSTRAINT [FK_FavourJobPosting_JobPostings]
GO
ALTER TABLE [dbo].[FavourJobPosting]  WITH CHECK ADD  CONSTRAINT [FK_FavourJobPosting_JobSeekers] FOREIGN KEY([JobSeekerID])
REFERENCES [dbo].[JobSeekers] ([JobSeekerID])
GO
ALTER TABLE [dbo].[FavourJobPosting] CHECK CONSTRAINT [FK_FavourJobPosting_JobSeekers]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Account]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_JobPostings] FOREIGN KEY([JobPostingID])
REFERENCES [dbo].[JobPostings] ([JobPostingID])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_JobPostings]
GO
ALTER TABLE [dbo].[JobPostings]  WITH CHECK ADD  CONSTRAINT [FK_JobPostings_Job_Posting_Category] FOREIGN KEY([Job_Posting_CategoryID])
REFERENCES [dbo].[Job_Posting_Category] ([id])
GO
ALTER TABLE [dbo].[JobPostings] CHECK CONSTRAINT [FK_JobPostings_Job_Posting_Category]
GO
ALTER TABLE [dbo].[JobSeekers]  WITH CHECK ADD  CONSTRAINT [FK_JobSeekers_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[JobSeekers] CHECK CONSTRAINT [FK_JobSeekers_Account]
GO
ALTER TABLE [dbo].[Recruiters]  WITH CHECK ADD  CONSTRAINT [FK_Recruiters_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Recruiters] CHECK CONSTRAINT [FK_Recruiters_Account]
GO
ALTER TABLE [dbo].[Recruiters]  WITH CHECK ADD  CONSTRAINT [FK_Recruiters_Companies] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Company] ([id])
GO
ALTER TABLE [dbo].[Recruiters] CHECK CONSTRAINT [FK_Recruiters_Companies]
GO
ALTER TABLE [dbo].[Work_Experience]  WITH CHECK ADD  CONSTRAINT [FK_Work_Experience_JobSeekers] FOREIGN KEY([JobSeekerID])
REFERENCES [dbo].[JobSeekers] ([JobSeekerID])
GO
ALTER TABLE [dbo].[Work_Experience] CHECK CONSTRAINT [FK_Work_Experience_JobSeekers]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [CK_Applications] CHECK  (([Status]=(3) OR [Status]=(2) OR [Status]=(1) OR [Status]=(0)))
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [CK_Applications]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [CHK_Feedback_Status] CHECK  (([Status]=(4) OR [Status]=(3) OR [Status]=(2) OR [Status]=(1)))
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [CHK_Feedback_Status]
GO
ALTER TABLE [dbo].[JobPostings]  WITH CHECK ADD  CONSTRAINT [CK_JobPostings_Status] CHECK  (([Status]='Violate' OR [Status]='Closed' OR [Status]='Open'))
GO
ALTER TABLE [dbo].[JobPostings] CHECK CONSTRAINT [CK_JobPostings_Status]
GO
USE [master]
GO
