<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>FilterLogin</filter-name>
        <filter-class>filter.FilterLogin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterLogin</filter-name>
        <url-pattern>/companies</url-pattern>
        <url-pattern>/confirm</url-pattern>
        <url-pattern>/dashboard</url-pattern>
        <url-pattern>/job_posting</url-pattern>
        <url-pattern>/feedback</url-pattern>
        <url-pattern>/recruiters</url-pattern>
        <url-pattern>/seekers</url-pattern>
        <url-pattern>/AddJobPosting</url-pattern>
        <url-pattern>/applicationSeekers</url-pattern>
        <url-pattern>/company</url-pattern>
        <url-pattern>/Dashboard</url-pattern>
        <url-pattern>/detailsJP</url-pattern>
        <url-pattern>/downloadCV</url-pattern>
        <url-pattern>/jobPost</url-pattern>
        <url-pattern>/verifyRecruiter</url-pattern>
        <url-pattern>/application</url-pattern>
        <url-pattern>/cv</url-pattern>
        <url-pattern>/education</url-pattern>
        <url-pattern>/experience</url-pattern>
        <url-pattern>/FavourJobPosting</url-pattern>
        <url-pattern>/feedbackSeeker</url-pattern>
        <url-pattern>/HomeSeeker</url-pattern>
        <url-pattern>/JobSeekerCheck</url-pattern>
        <url-pattern>/listJob</url-pattern>
        <url-pattern>/seeker</url-pattern>
        <url-pattern>/ViewDetailApplication</url-pattern>
        <url-pattern>/jobPostingDetail</url-pattern>
    </filter-mapping>
    <!--end-filter-login-->
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filter.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/companies</url-pattern>
        <url-pattern>/confirm</url-pattern>
        <url-pattern>/dashboard</url-pattern>
        <url-pattern>/job_posting</url-pattern>
        <url-pattern>/feedback</url-pattern>
        <url-pattern>/recruiters</url-pattern>
        <url-pattern>/seekers</url-pattern>
    </filter-mapping>
    <!--end-filter-admin-->
    <filter>
        <filter-name>RecruiterFilter</filter-name>
        <filter-class>filter.RecruiterFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RecruiterFilter</filter-name>
        <url-pattern>/AddJobPosting</url-pattern>
        <url-pattern>/applicationSeekers</url-pattern>
        <url-pattern>/company</url-pattern>
        <url-pattern>/Dashboard</url-pattern>
        <url-pattern>/detailsJP</url-pattern>
        <url-pattern>/downloadCV</url-pattern>
        <url-pattern>/jobPost</url-pattern>
        <url-pattern>/updateJP</url-pattern>
        <url-pattern>/verifyRecruiter</url-pattern>
    </filter-mapping>
    <!--end-filter-recruiter-->
    <filter>
        <filter-name>SeekerFilter</filter-name>
        <filter-class>filter.SeekerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SeekerFilter</filter-name>
        <url-pattern>/application</url-pattern>
        <url-pattern>/cv</url-pattern>
        <url-pattern>/education</url-pattern>
        <url-pattern>/experience</url-pattern>
        <url-pattern>/FavourJobPosting</url-pattern>
        <url-pattern>/feedbackSeeker</url-pattern>
        <url-pattern>/HomeSeeker</url-pattern>
        <url-pattern>/JobSeekerCheck</url-pattern>
        <url-pattern>/listJob</url-pattern>
        <url-pattern>/seeker</url-pattern>
        <url-pattern>/ViewDetailApplication</url-pattern>
        <url-pattern>/jobPostingDetail</url-pattern>
    </filter-mapping>
    <!--end-filter-recruiter-->
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <multipart-config>
        <max-file-size>10485760</max-file-size>
        <!-- 10MB -->
        <max-request-size>20971520</max-request-size>
        <!-- 20MB -->
        <file-size-threshold>0</file-size-threshold>
    </multipart-config>
</web-app>
